// Override MDC theme
$mdc-theme-primary: #ff6d00; // Orange A700
$mdc-theme-accent: #d32f2f; // Red 700
$mdc-theme-background: black;
$mdc-theme-surface: rgba(0, 0, 0, 0.8);

// Dimentions
$main-container-margin: 15px;
$main-container-padding: 20px;
$toolbar-height: 48px;
$scrollbar-width: 7px;
