body {
  margin: 0;
}

body {
  background: rgba(0, 0, 0, 0.5);
  &:before {
    content: "";
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -10;
  }
}

html,
body:before {
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mdc-snackbar {
  z-index: 999;
}

@media (max-width: 479px) {
  .hide-on-small {
    display: none;
  }
}
@media (min-width: 480px) {
  .show-on-small-only {
    display: none;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
