.searchbar {
  width: calc(100% - 30px);
  margin: 0 15px;
  @include mdc-text-field-focused-outline-color(rgb(200, 200, 200));
  @include mdc-text-field-fill-color(rgba(0, 0, 0, 0.3));
  &.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgba(255, 255, 255, 0.95);
  }
  &.mdc-text-field .mdc-text-field__input {
    caret-color: auto;
  }
}
