#toolbar {
  span {
    font-family: "Open Sans", sans-serif;
  }
}

.toolbar-top {
  height: $toolbar-top-height;
  display: flex;
  width: 100%;
  align-items: center;

  .brand-name {
    font-weight: bold;
    font-size: $toolbar-top-height / 2;
  }
  .subbrand-name {
    font-size: $toolbar-top-height / 4;
    padding-left: 3px;
  }
  .controls {
    margin-left: auto;
    display: flex;
  }
}
