#dashboard {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  ::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
  }

  ::-webkit-scrollbar-thumb {
    background: #9a9999e6;
    border-radius: 19px;
  }

  ::-webkit-scrollbar-track {
    background: #bdbbbb1f;
    border-radius: 20px;
  }

  .dashboard-background-holder {
  }
  #dashboard-content {
    position: relative;
    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url("../img/background.jpg") no-repeat center center fixed;
      filter: blur(15px);
      content: " ";
      z-index: -1;
      display: block;
      position: absolute;
      margin: 10px;
    }
    padding: $main-container-padding;
    padding-top: $main-container-padding / 4;
    padding-right: $main-container-padding - $scrollbar-width;
    margin: $main-container-margin;
    background: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    text-align: center;
    width: calc(100vw - #{$main-container-margin} * 2);
    height: calc(100vh - #{$main-container-margin} * 2);
    box-sizing: border-box;

    hr {
      border-color: rgba(255, 255, 255, 0.75);
    }

    &.dashboard-content--loading {
      width: initial;
      height: initial;
      padding: $main-container-padding;
    }
  }
}

.tag-cell {
  padding: 0 10px;
  border-radius: 10px;
  span {
    display: inline-block;
    width: calc(100% - 48px);
    overflow: auto;
    line-height: 48px;
  }
  button {
    float: right;
    &:hover {
      color: $mdc-theme-accent;
    }
  }
  &:not(.tag-cell--input):hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.tag-cell--input,
.coordinates--input {
  display: flex;
  .mdc-text-field-wrapper {
    width: calc(100% - 48px);
  }
  .mdc-text-field {
    width: 100%;
    height: 48px;
    background-color: transparent;
    .mdc-floating-label {
      top: 12px;
    }
    &::before {
      background-color: transparent;
    }
  }
  button:hover {
    color: $mdc-theme-accent;
  }
}

.accent-hover-button:hover {
  color: $mdc-theme-accent;
}

#toolbar {
  height: $toolbar-height;
  display: flex;
  width: 100%;
  align-items: center;
  span {
    font-family: "Open Sans", sans-serif;
  }
  .brand-name {
    font-weight: bold;
    font-size: $toolbar-height / 2;
  }
  .subbrand-name {
    font-size: $toolbar-height / 4;
    padding-left: 3px;
  }
  .controls {
    margin-left: auto;
    display: flex;
  }
}

.language-items-container {
  padding-right: $scrollbar-width;
  overflow: hidden auto;
  height: calc(
    100vh - #{$main-container-margin * 2 + $main-container-padding + $main-container-padding / 4 +
      $toolbar-height}
  );
}

.language-item {
  text-align: left;
  &.language-item--collapsed {
    .mdc-layout-grid {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .mdc-text-field--disabled {
      background-color: rgba(8, 8, 8, 0.4);
      .mdc-text-field__input {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}
