.dashboard {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  ::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
  }

  ::-webkit-scrollbar-thumb {
    background: #9a9999e6;
    border-radius: 19px;
  }

  ::-webkit-scrollbar-track {
    background: #bdbbbb1f;
    border-radius: 20px;
  }

  .dashboard-content {
    position: relative;
    padding: $main-container-padding;
    padding-top: $main-container-padding / 4;
    background: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    hr {
      border-color: rgba(255, 255, 255, 0.75);
    }

    &.dashboard-content--loading {
      width: initial;
      height: initial;
      padding: $main-container-padding;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
    }
  }
}

.tag-cell {
  padding: 0 10px;
  border-radius: 10px;
  span {
    display: inline-block;
    width: calc(100% - 48px);
    overflow: auto;
    line-height: 48px;
  }
  button {
    float: right;
    &:hover {
      color: $mdc-theme-accent;
    }
  }
  &:not(.tag-cell--input):hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.tag-cell--input,
.coordinates--input {
  display: flex;
  .mdc-text-field-wrapper {
    width: calc(100% - 48px);
  }
  .mdc-text-field {
    width: 100%;
    height: 48px;
    background-color: transparent;
    .mdc-floating-label {
      top: 12px;
    }
    &::before {
      background-color: transparent;
    }
  }
  button:hover {
    color: $mdc-theme-accent;
  }
}

.accent-hover-button:hover {
  color: $mdc-theme-accent;
}

.language-items-container {
  margin-left: $sidebar-width;
  overflow: hidden auto;
  height: calc(100vh - #{$main-container-padding + $main-container-padding / 4 + $toolbar-height});
}

.item-preview {
  .mdc-card__primary-action {
    height: 140px;
    padding: 5px;
  }
  padding: 5px;
  box-sizing: border-box;
  word-wrap: break-word;
  .title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.item-editor {
  text-align: left;
  .mdc-dialog__content {
    overflow-x: hidden;
  }
  .mdc-dialog__actions {
    justify-content: space-between;
  }
  .delete-button {
    --mdc-theme-primary: #{$mdc-theme-accent};
  }
}
