:local(.card) {
  max-width: 450px;
  margin: auto;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  .mdc-text-field {
    margin-top: 10px;
  }
  .mdc-button {
    margin-top: 8px;
    border-radius: 45px;
  }
  .mdc-card__actions {
    flex-direction: column;
  }
}
