@import "@material/textfield/mdc-text-field";

:local(.textfield) {
  &:not(.mdc-text-field--disabled) {
    background-color: rgba(0, 0, 0, 0.1);
    .mdc-floating-label {
      color: var(--mdc-theme-text-hint-on-background);
    }
    .mdc-text-field__input {
      color: var(--mdc-theme-text-primary-on-background);
    }
    &.mdc-text-field--focused {
      .mdc-floating-label {
        color: var(--mdc-theme-text-secondary-on-background);
      }
    }
    &.mdc-text-field--outlined {
      background-color: transparent;
      @include mdc-text-field-outline-color(var(--mdc-theme-text-secondary-on-background));
      @include mdc-text-field-hover-outline-color(var(--mdc-theme-text-primary-on-background));
      @include mdc-text-field-focused-outline-color(var(--mdc-theme-primary));
    }
  }
}
